*{
	margin:0; padding:0;
}

.box_bottom ul li{
	float:left;
}
.title{
	margin-left:15%;
	float:left;
}
.eng{
	margin-left:25%;
	float:left;
}
.img{
	margin-left:25%;
}
.rev{
	margin-top:20px;
	margin-right:40px;
	float:right;
}
.mov{
	margin-top:20px;
	margin-right:40px;
	float:right;
}
.wrap{
	clear:both;
}
.wrap div{
	margin-top:10px;
}
.uids{
	float:left;
}

.word{
	margin-left:13%;
	float:left;
}
.engs{
	margin-right:18%;
	width:150px;
	text-align:center;
	float:right;
}

.pic{
	margin-right:13%;
	float:right;
	
}
.pic img{
	width:50px;
	height:50px;
}
.alert{
	display:none;
}
.alert{
	width:600px;
	height:200px;
	background:#eee;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-300px;
}
.flie_img{
	margin-top:20px;
	margin-left:200px;
}
.tit{
	margin-top:20px;
	margin-left:200px;
}
.engo{
	margin-top:20px;
	margin-left:200px;
}
.ok{
	margin-top:20px;
	margin-left:280px;
}

