.cases{display: none;}
.cases2{display: none;}
.system{display: none;}
.supers{display: none;}
.gold{display: none;}
.design{display: none;}
.vi{display: none;}
.about{display:none;}
.prize{display:none;}
.img{display:none;}


